.board {
  flex: 1;
  box-shadow: 0 0 0 2px white;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  cursor: pointer;
  position: relative;
  width: 10vmin;
  height: 10vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s, box-shadow 0.25s, border-radius 0.25s;
  outline: none;

  &__light {
    background-color: #ced3dd;

    &:hover {
      background-color: #a7acb8;
    }
  }

  &__dark {
    background-color: #8093b6;

    &:hover {
      background-color: #70809e;
    }
  }
}
