.chessboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.inner {
  position: relative;
  font-size: 2vmin;
  background-color: #8093b6;

  &__rotate {
    transform: rotate(180deg);
  }
}

.game {
  display: flex;
  flex-direction: row;
}
