@import 'src/assets/scss/utils';

.wrapper {
  margin: 12px 0;
  display: flex;
  flex-direction: column;
  background-color: #8093b6;
  border-radius: 4px;

  @media #{$screen-md} {
    flex-direction: row;
  }
}

.status {
  opacity: 0;
  transition: opacity 0.25s;
  display: flex;
  align-items: center;
  padding: 4px 12px;
  font-size: 16px;

  @media #{$screen-md} {
    min-width: 30vmin;
  }

  &-show {
    opacity: 1;
  }
}

.history {
  &-wrapper {
    display: flex;
    flex: 1;
    overflow-x: scroll;
    padding: 4px 12px;
    border: 1px solid;
    border-radius: 4px;
    min-height: 50px;
  }

  &-item {
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    padding: 0 4px;
    background-color: $c-white;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }
}