@import 'src/assets/scss/utils';

.verticalPanel {
  width: calc(11.3vmin * 0.4);

  @media #{$screen-md} {
    width: calc(10vmin * 0.4);
  }
}

.digitSymbol {
  height: 11.3vmin;
  display: flex;
  justify-content: center;
  align-items: center;

  @media #{$screen-md} {
    height: 10vmin;
  }
}
