@import 'src/assets/scss/utils';

.title {
  margin: 12px 0;
  margin: 0;
}

.filter {
  margin: 24px 0;
}

.list {
  display: flex;
  flex-direction: column;

  .item {
    display: flex;
    justify-content: space-between;
    padding: 20px 16px;
    border: 2px solid $c-gray-l;
    border-radius: 8px;
    transition: border-color 0.25s;

    &__over {
      background-color: $c-gray-l;
    }

    &-label {
      margin-right: 8px;
    }

    &:hover {
      border-color: $c-primary;
    }

    &:not(:first-child) {
      margin-top: 12px;
    }
  }

  .info {
    display: flex;
    align-items: flex-start;
  }

  .players-wrapper {
    display: flex;
    margin-right: 12px;
  }

  .icon-wrapper {
    position: relative;
    display: flex;
    border: 1px solid $c-gray-s;
    background-color: $c-white;
    border-radius: 8px;
    padding: 4px 8px;

    &:not(:last-child) {
      margin-right: 12px;
    }

    &__black {
      background-color: $c-black;
      border-color: $c-black;
    }

    .icon-label {
      position: absolute;
      left: -8px;
      top: -8px;
      background-color: $c-primary-disabled;
      padding: 4px;
      border-radius: 8px;
    }

    .icon-winner {
      position: absolute;
      top: -16px;
      color: #FFD912;
      padding: 4px;
      border-radius: 8px;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      text-align: center;
      width: 32px;
      height: 32px;
      background-color: $c-primary;
    }
  }

  .icon-player {
    width: 76px;
    height: 76px;

    &__black {
      color: $c-white;
    }
  }

  .buttons-wrapper {
    display: flex;
    flex-direction: row;

    .button-item:not(:first-child) {
      margin-left: 8px;
    }
  }

  .status-block {
    display: flex;
    flex-direction: column;
  }

  .status-item:not(:first-child) {
    margin-top: 8px;
  }
}
